<% layout('layouts/boilertemplate.ejs') %> 

    <div class="card mt-5" style="width: 66rem;">
        <div class="card-header">
            <h1>Welcome to Course Registration System</h1>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Log in and Start registering courses <a href="/user/login" class="btn btn-info">Login</a></li>
        <li class="list-group-item">Don't have an account yet? Sign Up Now! <a href="/user/register" class="btn btn-secondary">Sign Up</a></li>
        </ul>
    </div>
</div>
        